#: nfi_mdb_1 Cluster
Host nfiv-mdb-01p
   Hostname nfiv-mdb-01p

Host nfiv-mdb-02p
   Hostname nfiv-mdb-02p

Host nfiv-mdb-03p
   Hostname nfiv-mdb-03p
 

#: FleetMasterProd Cluster
Host nfiv-mdb-04p
   Hostname nfiv-mdb-04p

Host nfiv-mdb-05p
   Hostname nfiv-mdb-05p

Host nfiv-mdb-06p
   Hostname nfiv-mdb-06p


#nfi dev clusters
Host nfiv-mdb-01d
   Hostname nfiv-mdb-01d

Host nfiv-mdb-02d
   Hostname nfiv-mdb-02d

Host nfiv-mdb-03d
   Hostname nfiv-mdb-03d

Host nfiv-mdb-04d
   Hostname nfiv-mdb-04d

Host nfiv-mdb-05d
   Hostname nfiv-mdb-05d

Host nfiv-mdb-06d
   Hostname nfiv-mdb-06d

#####New Async cluster
#
#Host nfiv-mdb-07d
#   Hostname nfiv-mdb-07d.nfii.com
#
#Host nfiv-mdb-08d
#   Hostname nfiv-mdb-08d.nfii.com
#
#Host nfiv-mdb-09d
#   Hostname nfiv-mdb-09d.nfii.com

