---
- name: prepare final output
  shell: |
    echo "--- Performance audit start ---"  >> {{ reportdir }}/audit_report_{{ ansible_date_time.date }}
    echo  >> {{ reportdir }}/audit_report_{{ ansible_date_time.date }}
    for f in {{ reportdir }}/*check; do (cat "${f}"; echo) >> {{ reportdir }}/audit_report_{{ ansible_date_time.date }}; done
    echo "--- Performance audit end ---"  >> {{ reportdir }}/audit_report_{{ ansible_date_time.date }}
    echo  >> {{ reportdir }}/audit_report_{{ ansible_date_time.date }}
  register: prepare_output
  delegate_to: 127.0.0.1
  run_once: true


