

<h4 style="color:#72A0C1; font-family:verdana; font-size: 15px; font-weight: 200;">Appendix</h4>
<p style="font-family:Arial; font-size: 13px;">
The following is the raw output of the scripts alongside the calculations to support each recommendation.
</p>

