

<style>
  .container { padding:25px; margin:20px; }
  .footerhold { text-align:left; padding:3px; }
   hr { margin-left:5px; margin-right:5px }
</style>

<h4 style="color:#72A0C1; font-family:verdana; font-size: 15px; font-weight: 200;">Duplicate & Redundant Indexes</h4>
<p style="font-family:Arial; font-size: 13px;">
Removal of duplicate and unnecessary indexes is suggested to prevent performance degradation in high concurrent workloads with less-than-ideal data distribution on a table. Redundant / un-needed indexes take up unnecessary disc space, which can cause overhead to DML and read queries.
</p>


<style> .report-table th { background-color: #C0C0C0; color: #000066 }
 .example-table td:nth-child(1) { color: #000066; font-weight: bold; }
.example-table td:not(:first-child) { color: #0066FF; }
</style>

<table class="report-table" style="border: 1px solid black; border-collapse: collapse;">
<tr>
    {% for header in indexes_headers.split(",") %}
    <th style="border: 1px solid black; padding: 8px 16px; font-family:Arial; font-size: 13px;">{{ header }}</th>
    {% endfor %}
</tr>
{% for host in indexes_csv_file.list %}
<tr>
    {% for header in indexes_headers.split(",") %}
    <td style="border: 1px solid black; padding: 8px 16px; font-family:Arial; font-size: 13px;">{{ host[header] }}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>

<footer>
  <hr>
  <p style="font-family:Arial; font-size: 7px;">
  All information contained in this report is considered as confidential and owned by the mentioned entities part of this report.
 </p>
