
<h4 style="color:#72A0C1; font-family:verdana; font-size: 15px;">MariaDB Version</h4>
<p style="font-family:Arial; font-size: 13px;">
Newer releases contain bug fixes and security patches. It is important to keep up to date.
</p>
<p style="font-family:Arial; font-size: 13px;">
However, Please do consult with the RDBA team, for potential minor or major version upgrades.
</p>

<table style="border: 1px solid black; border-collapse: collapse;">
<tr>
    {% for header in mariadb_version_headers.split(",") %}
    <th style="border: 1px solid black; padding: 8px 16px;">{{ header }}</th>
    {% endfor %}
</tr>
{% for host in version_csv_file.list %}
<tr>
    {% for header in mariadb_version_headers.split(",") %}
    <td style="border: 1px solid black; padding: 8px 16px;">{{ host[header] }}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>

<p style="font-family:Arial; font-size: 13px;">
Check the MariaDB Enterprise Server latest Release Notes:
</p>
<a href="https://mariadb.com/docs/server/release-notes/">https://mariadb.com/docs/server/release-notes/</a>
